<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>El clima en...</title>
</head>
<body>
    <img src="imagen.jpg">
    <hgroup>
        <h1>Clima en...</h1>
        <h2>Por David Herrera</h2>
        <h5>Actualizado al 27 de diciembre de 2021</h5>
    </hgroup>

    <form action="">
        <p>Escribe el lugar donde quieres conocer el clima</p>
        <input id="lugar" name="lugar" placeholder="¿Dónde?">
        <button id="buscar">Buscar</button>
    </form>
    <p>{{information}}</p>
    <img src="{{urlimagen}}">
</body>
</html>